<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844081111857-bnoontg2co9d9rgh4j96qgudj9pa5g7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844081111857-bnoontg2co9d9rgh4j96qgudj9pa5g7d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>844081111857-r154bjebgucu2pg83u979vf4epan1k68.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Kgj2OTDSKRU_aHXnH9iAVOG8FTuKxBw</string>
	<key>GCM_SENDER_ID</key>
	<string>844081111857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifellc.lionlive</string>
	<key>PROJECT_ID</key>
	<string>quagga-49d9d</string>
	<key>STORAGE_BUCKET</key>
	<string>quagga-49d9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844081111857:ios:45112eee47afb268e28610</string>
	<key>DATABASE_URL</key>
	<string>https://quagga-49d9d-default-rtdb.firebaseio.com</string>
</dict>
</plist>